package credentials

const (
	GearboxLogin    string = "Gearbox@Log.in"
	GearboxPassword string = "GearboxPassword"
	SmtpUser        string = "Smtp@U.ser"
	SmtpPassword    string = "SmtpPassword"
	SmtpServer      string = "Smtp.Server:465"
	SmtpSendTo      string = "Smtp@Send.To"
	LogLevel        string = "INFO"
)